
.main-container-right {
    width: 100%;
 
    .top-container-main{
         position: relative;
          

          >div{
            //  background: teal;
             overflow-y: hidden;
             position: absolute;
              height: 40px;
              display: flex;
               align-items: center;
               justify-content: center;

          div{
             flex-wrap: unset;
            //  background: orange!important;
             margin-top: 5px;
             margin-bottom: 5px;

             a{
                 display: block;
                 width: max-content;
             }

          }
        }
         .fa-chevron-right{

             width: 50px;
              height: 40px;
              background: rgba(177, 175, 175, 0.934);
              display: flex;
              justify-content:  center ;
              align-items: center;
              position: absolute;
              right: 0;
              margin: 0 auto;
              padding-right: 5px;
              border:none;
              box-shadow: -4px -2px 20px 11px rgba(212, 206, 206, 0.563);
               
               
        }
    }
}

.list-content-main{
     
    >div{
          width: 100%;
           display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        .item{
            flex: 1 20% 0 ;
          
           width: 350px;
           max-width: 450px;
           min-height: 250px;
           border-radius: 10px;
           box-shadow: 1px 1px 1px rgba(128, 126, 126, 0.663);
           margin: 10px;
           @media screen and (max-width:568px ){
             max-width: 250px;
           }

           .item-header{
             height: 70%;
             width: 100%;
           border-radius: 10px;

            video{
                 width: 100%;
                 object-fit: cover;
                 object-position: center;
                 border-radius: 10px;
            }

           }

        //    item body

        .item-body{
             padding: 10px 5px;
        }
        }
    }
    
    
}