
.main-container-right {
    width: 100%;
 
    .top-container-main{
         position: relative;
        ul{
             overflow-y: hidden;
             width: 100%;
        }
         .fa-chevron-right{

             width: 50px;
              height: 40px;
              background: rgba(177, 175, 175, 0.934);
              display: flex;
              justify-content:  center ;
              align-items: center;
              position: absolute;
              right: 0;
              margin: 0 auto;
              padding-right: 5px;
              border:none;
              box-shadow: -4px -2px 20px 11px rgba(212, 206, 206, 0.563);
               
               
        }
    }


    .list-content-main{
        width: 100%;
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: max-content;
        width: 100%;

      }

        li{
            flex: 1  0 20% ;
          margin: 10px;
          
           width: 350px;
            height:250px;
            list-style-type: none;
            border-radius: 20px;
            border: 1px solid red;
            padding: 0!important;
            border-radius: 20px;
             @media screen and (max-width: 768px){
                 margin-bottom: 30px;
             }

            video{
                 width: 100%;
                 border-radius: 20px;
                 object-fit: cover;
                 object-position: center;

            }

            .card-header-list {
                //  background: orange;
                padding: 0!important;
                border-radius: 20px 20px 0 0 ;
                background: none;
            }
            .card-footer-list {
                //  background: teal;
                background:none ;
            }
        }
    }
}