
.main-container-left {

     .container-options {


             .icons{
                 
               @media screen and  (min-width: 992px){
                     display: flex;
                     flex-direction:row; 
                   align-items: center;
                   justify-content: flex-start;
                   i{
                     margin-right: 3px;
                   }
               }
               
             }
          
     }
}