
 .top-container{
     padding: 10px ;
 }
.navbar-home{
    //  background: teal ;

    .nav-form{
         background: teal ;
           

         form{

            background: #000;

               
         }
         .form-group{
             width: 80%;
             background: orange;
            width:515px; 

         }
    }

      
}