// container palette 
$black1: rgba(13, 13, 13, 0.333);
 $gray1: #f2f2f2;
 $teal: teal;
 $orange: orange;
 $red:rgb(249, 247, 247);
 $white: #fff;

 $theme-custom-colors:(
    "black1":$black1,
    "gray1":$gray1,
    "teal":$teal,
     "orange":$orange,
     "red":$red,
     "white":$white
 );


  $theme-colors:map-merge($theme-colors,$theme-custom-colors );
  @each $key, $val  in  $theme-custom-colors{
     .bg-#{$key}{
         background: $val!important;
     }

      .text-#{$key}{
         color: $val !important;
      }

      .btn-#{$key}{
         background: $val!important;
      }
  }

   